body {
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 60px auto 80px;
}

h1,
h2 {
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    text-transform: uppercase;
    display: inline-block;
}

.video-hero {
    width: 100vw;
    height: 500px;
    object-fit: cover;
}

.quote-block {
    display: flex;
}

.color-block {
    background-color: #0CC2C4;
    width: 30px;
}

.quote {
    margin-left: 20px;
    padding: 20px 0;
    font-size: 24px;
}

.main-content {
    margin-top: -150px;
}

.text-block {
    background-color: #0CC2C4;
    padding: 20px 30px;
    font-size: 24px;
}

.center-text {
    text-align: center;
    max-width: 500px;
}

.hero-text {
    padding: 0 15px 25px;
    transform: translateY(-150px);
    border-top: 10px solid #0CC2C4;
}

.showcase-wrap {
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0 auto 80px;
}

.showcase-wrap video {
    width: 100%;
    height: auto;
}

.showcase-text {
    padding: 20px 30px;
    border-top: 10px solid #0CC2C4;
}

.reversed {
    background-color: #fff;
    color: #000;
}

.reversed h1,
.reversed h2 {
    border-color: #000;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 72px;
}

.gallery-img {
    width: 48%;
    height: 48%;
    object-fit: cover;
    margin-bottom: 25px;
}

.last-block {
    margin-bottom: 0;
}

@media (min-width: 600px) {
    .showcase-wrap {
        width: 80%;
        flex-direction: row;
        align-items: flex-end;
    }

    .showcase-wrap video {
        width: 50%;
    }

    .showcase-wrap .video-large {
        width: 60%;
    }

    .showcase-text {
        border-top: 0;
        border-left: 10px solid #0CC2C4;
    }

    .last-block {
        margin-bottom: 80px;
    }

    .gallery-img {
        width: 30%;
        height: 30%;
        margin-bottom: 40px;
    }
}

/* Loader */

.load-wrap {
    width: 100vw;
    height: 100vh;
    position: fixed;
    color: #fff;
}

.load-wrap > p {
    position: absolute;
    transform: translate(-50%, -50%);
    top: calc(50% + 125px);
    left: 50%;
    font-size: 24px;
    color: #0CC2C4;
}

.lds-ripple {
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #0CC2C4;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 100px;
        left: 100px;
        width: 0;
        height: 0;
        opacity: 1;
    }

    100% {
        top: 0px;
        left: 0px;
        width: 200px;
        height: 200px;
        opacity: 0;
    }
}