body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin: 0;
    position: relative;
}

.hidden {
  display: none;
}

.invisible {
  opacity: 0;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}
nav.is-open {
  z-index: 25;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 35;
  background-color: #000;
}

.logo {
  width: 90px;
  height: 40px;
}

.svg-logo {
  fill: #0CC2C4;
  width: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: calc(100vh - 85px);
    position: relative;
    top: 85px;
    z-index: -1;
}

nav.is-open .menu-content {
  z-index: 0;
}

.menu-item {
    list-style: none;
    align-items: stretch;
    border-bottom: 10px solid #000;
    transform: translateY(-100vh);
    z-index: 30;
    height: calc((100vh - 85px) / 4);
    box-sizing: border-box;
    position: relative;
}

.menu-item:nth-of-type(1) {
  z-index: 33;
}
.menu-item:nth-of-type(2) {
  z-index: 32;
}
.menu-item:nth-of-type(3) {
  z-index: 31;
}
.menu-item:nth-of-type(4) {
  z-index: 30;
}

.color-slide {
  background-color: #0CC2C4;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 34;
}

.menu-link {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
}

.menu-link img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-item-text {
    position: absolute;
    z-index: 10;
    font-size: 36px;
    font-weight: 800;
    color: #0CC2C4;
    left: 0;
    transform: translateY(-50%);
    top: 50%;
    width: 100%;
    text-align: center;
}

.menu-item-text span {
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

@media (min-width: 600px) {
  .header {
    padding: 20px 30px;
  }
  .menu-item {
    height: auto;
    border-right: 15px solid #000;
    border-bottom: 0;
    width: 25vw;
  }
  .menu-content {
    flex-direction: row;
    top: 85px;
    height: calc(100vh - 85px);
  }
  .menu-item-text span {
    font-size: 42px;
  }
}

/* Icon 2 */

#nav-icon2 {
  background: none;
  border: none;
  width: 50px;
  height: 45px;
  position: relative;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 50%;
  background: #fff;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 16px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 32px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 9px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 9px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 27px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 27px;
}